.selected{
    width: 314px; 
    height: 249px; 
    left: 0px;  
    /* position: absolute;  */
    background: #D9D9D9; 
    border-radius: 30px; 
    border: 1px black solid;
    color: black; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}

.options{
    width: 280px; 
    height: 222px; 
    left: 17px; 
    position: relative; 
    background: #D9D9D9; 
    border-radius: 30px;
    font-size: 22px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
    display: block;
}

.m{
    margin: 50px;
}

.info{
    width: 851px; 
    height: 941px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 30px;
    font-size: 32px;
    text-align: center;
}
.info h1{
    text-align: center;
    color: black; 
    font-size: 48px; 
    font-family: 
    Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.text{
    margin-top: 100px;
}

.button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    left:0px;
    cursor: pointer;
  }
#googleMap{
    height: 450px;
    width: 80%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#checkbox
{
  display: block;
  background: firebrick;
  color: white;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
}