

.selected{
    width: 314px; 
    height: 249px; 
    left: 0px;  
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 30px; 
    border: 1px black solid;
    color: black; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}

.options{
    width: 280px; 
    height: 222px; 
    left: 17px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 30px;
    font-size: 22px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
    display: block;
}

.info{
    width: 851px; 
    height: 941px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 30px;
    font-size: 32px;
    text-align: center;
}
.info h1{
    text-align: center;
    color: black; 
    font-size: 48px; 
    font-family: 
    Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.text{
    margin-top: 100px;
}

#nr0{
    top: 0px;
}

#nr1{
    top: 353px;
}
#nr2{
    top: 693px; 
}

.button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    left:0px;
  }